body {
    background-image: repeating-linear-gradient(#1e5d11, rgba(11, 151, 51, 0.933));
    font-family: "Menlo", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    text-shadow: #000000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #398516;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    margin-top: 0;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #165109;
    color: #999999;
    font-size: 12px;
}





input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    margin-right: 10px;
}


button:hover {
    background-color: #555;
}


.result-info p {
    color: #000000; 
    margin: 10px 0;
}
